@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner m-0">
    <div class="jumbotron jumbotron-fluid">
    </div>
    <div class="gradient">
    </div>
    <div class="banner__text align-items-center">
        <h1 class="text-uppercase text-light">Enjoy shopping</h1>
        <a asp-page="/All" class="btn px-5 py-2 border-0 rounded-0 text-uppercase" role="button">Discover more</a>
    </div>
</div>

<div class="container text-center my-3 pt-3">
    <h2 class="display-4">Wardrobe</h2>
    <h3>What does your wardrobe say about you?</h3>
    <h2 style="font-family: LaBelle">Is it a perfect reflection of your personality?</h2>
    <p class="px-5 m-4">If your wardrobe is more like the latter, there are lots of things you can do to put more of your personality into your fashion sense.<br /> You don’t have to break the bank to do it, and it truly is simple.</p>
</div>